<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>SmartParking Rwanda</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/style.css') }}">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
          rel="stylesheet">

    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
  <link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">

</head>

<body>

<!-- ================= NAVBAR ================= -->

<header class="shadow-sm">

    <nav class="navbar navbar-expand-lg bg-white">

        <div class="container">

            <!-- Logo -->

            <a class="navbar-brand fw-bold fs-3 d-flex align-items-center"
               href="{{ url_for('home') }}">

                <i class="bi bi-p-square-fill text-success fs-1"></i>

                <span class="ms-2">
                    SmartParking Rwanda
                </span>

            </a>


            <button class="navbar-toggler"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#navbarMenu">

                <span class="navbar-toggler-icon"></span>

            </button>


            <div class="collapse navbar-collapse"
                 id="navbarMenu">

                <ul class="navbar-nav mx-auto">

                    <li class="nav-item">

                        <a class="nav-link"
                           href="{{ url_for('home') }}">
                            Home
                        </a>

                    </li>


                    <li class="nav-item">

                        <a class="nav-link"
                           href="{{ url_for('dashboard') }}">
                            Dashboard
                        </a>

                    </li>


<!--                    <li class="nav-item">-->

<!--                        <a class="nav-link"-->
<!--                           href="{{ url_for('about') }}">-->
<!--                            About-->
<!--                        </a>-->

<!--                    </li>-->


                    <li class="nav-item">

                        <a class="nav-link"
                           href="{{ url_for('team') }}">
                            Team
                        </a>

                    </li>

                </ul>


                <a href="{{ url_for('dashboard') }}"
                   class="btn btn-success">

                    Launch Simulation

                </a>

            </div>

        </div>

    </nav>

</header>

<!-- ================= CONTENT ================= -->

{% block content %}
{% endblock %}

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>

<!-- ================= FOOTER ================= -->

<footer class="bg-dark text-white mt-5">

    <div class="container py-5">

        <div class="text-center">

            <h2 class="fw-bold">

                <i class="bi bi-p-square-fill text-success"></i>

                SmartParking Rwanda

            </h2>

            <p class="text-light mt-3">

                Smart Parking for Smarter Cities.

            </p>

            <p class="text-secondary">

                Helping drivers locate parking spaces faster,
                reducing congestion,
                saving fuel,time,
                and improving urban mobility in Rwanda.

            </p>

        </div>

        <div class="d-flex justify-content-center gap-3 flex-wrap my-4">

            <a href="https://github.com/MVUYEKURE-Andre/SmartParking-smart-parking-system"
               target="_blank"
               class="btn btn-outline-light">

                <i class="bi bi-github"></i>

                GitHub

            </a>

            <a href="https://www.linkedin.com/in/andre-mvuyekure/"
               target="_blank"
               class="btn btn-outline-light">

                <i class="bi bi-linkedin"></i>

                LinkedIn

            </a>

            <a href="mailto:example@gmail.com"
               class="btn btn-outline-light">

                <i class="bi bi-envelope-fill"></i>

                Email

            </a>

        </div>

        <hr>

        <div class="row text-center">

            <div class="col-md-4">

                © <span id="year"></span>

                SmartParking Rwanda

            </div>

            <div class="col-md-4">

                CMU Africa summer Bridge Program 2026

            </div>

            <div class="col-md-4">

<!--                Built with Flask • Bootstrap • Three.js-->
                Engineered for Purpose

            </div>

        </div>

    </div>

</footer>

<script>

document.getElementById("year").textContent =
new Date().getFullYear();

</script>

</body>
</html>